.bg1{
background-image: url(../images/header_bg.jpg);
color: white;
;

}
.benefits{
	background-color: grey;
}
.life{
	background-image: url(../images/testimonial_bg.jpg);
}
.su{
	background-color: yellow;
}