/******************************************
/* SETUP
/*******************************************/

/* Box Model */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/******************************************
/* FONTS
/*******************************************/

/* font-family: "Open Sans", Arial, sans-serif */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/******************************************
/* BASE STYLES
/*******************************************/


body {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: Helvetica, Arial, sans-serif;
   background-color: #615a5a;
   background-image: url(/Users/asama/Desktop/wdi/homeworks/hw-week_02-day_01-html-css/starter_code/images/header_bg.jpg);
   background-repeat: no-repeat;
   background-position: cover;
   background-size:auto;
   
}




/******************************************
/* LAYOUT
/*******************************************/

header {
    color: white ;
    font-weight: bold;
	font-size: 24px;
	text-align: left;
    padding-left: 11em;
    padding-top: 3em;

}
.getPiece{

	color: white;
	font-size: 24px; 
	text-align: center;
	font-family:  Arial, Helvetica, sans-serif;

}

.getit{

	color:  #033048;
	font-size: 20px;
	border: 5px solid #f9e42e;
	border-radius: 5px;
	background-color: #f9e42e;
	text-align: center;
    padding: 10px;
    
	width: 200px;
    height: 50px;
    margin-top: 100px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;

}

div{

	background-color: #f0efef;
}

div{

	padding: 1em 200px;
	


}

div p {

	font-weight: lighter;
	font-size: 13px;
	color: #606161;
}
.benefit{

	font-size: 30px;
	color: #033048;
	

}


ul{
	color: #606161;

	font-size:14px;
    font-weight: lighter;
    list-style: circle;

}

section{
	color: #606161;
	font-size: 18px;
	font-weight: solid;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 20px;
	background-image: url(/Users/asama/Desktop/wdi/homeworks/hw-week_02-day_01-html-css/starter_code/images/testimonial_bg.jpg) ;
	font-style: italic;

}

h3{

	color:  white;
	font-size: 12px bold;
	border: 5px solid #033048;
	border-radius: 5px;
	background-color: #033048;
	text-align: center;
	padding: 10px;
	width: 200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}


.sign {
	background-color: #f9e42e;
	padding: 5px;

}
.rel{
	color:  #f9e42e;
	font-size: 34px ;
	text-align: center;

}


footer {
	background-color: #606161;
	text-align: center;
	color: white;
	font-size:10px bold;
	font-weight:lighter;
	padding: 10px;


}

.connect{
	background-color: #606161;
 	
}
.tw{
	padding: 1em 20px;
}

.fa{
	padding: 1em 20px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
